@font-face {
  font-family: 'Galien';
  src: url('../fonts/Galien-Regular.eot');
  src: url('../fonts/Galien-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Galien-Regular.woff') format('woff'),
      url('../fonts/Galien-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Galien';
  src: url('../fonts/Galien-Regular_1.eot');
  src: url('../fonts/Galien-Regular_1.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Galien-Regular_1.woff') format('woff'),
      url('../fonts/Galien-Regular_1.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.eot');
  src: url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
      url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light.eot');
  src: url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gilroy-Light.woff') format('woff'),
      url('../fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Galien';
  src: url('../fonts/Galien-Regular_2.eot');
  src: url('../fonts/Galien-Regular_2.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Galien-Regular_2.woff') format('woff'),
      url('../fonts/Galien-Regular_2.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}



body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1140px;
  box-sizing: border-box;
}